*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    display: flex;
}
.logo{
    margin-left: 85px;
    margin-top: 15px;
}
.nav{
    list-style: none;
    margin-left: 250px;
    margin-top: 45px;
    display: flex;
}
nav li{
    margin-left: 25px;
    color: white;
}
.nav-right-section{
    display: flex;
    color: white;
    margin-top: 20px;
    margin-left: 30%;
}

nav div li{
    list-style: none;
    margin-top: 25px;
    z-index: 1;
}
.nav-pink-backg{
    position: absolute;
    margin-top: 25px;
    margin-left:45px;
}
.main-section1{
    display: flex;
    color: white;
    margin-left: 85px;
    margin-top: 15px;
    height: 800px;
}
.main-sect1-heading{
   font-size: 25   
}


